body{
    background-image: url(../img/bgimg.png);

    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right 260px top 180px;
    margin-right: 600px;
    
}
.link-inst{
    outline: auto;
    outline-width: 4px;
    outline-color: black;
}
